<% @movies.each do |movie| %>
<table>
<tr>
  <thead>

    <th scope="col">ID</th>
      <th scope="col">タイトル</th>
      <th scope="col">公開年</th>
      <th scope="col">概要</th>
      <th scope="col">画像url</th>
      <th scope="col">上映中</th>
      <th scope="col">登録日時</th>
      <th scope="col">更新日時</th>
</tr>
  <thead>
  <tbody>
    <tr>
      <td><%= movie.id %></td>
      <td><%= movie.name %></td>
      <td><%= movie.year %></td>
      <td><%= movie.description %></td>
      <td><%= movie.image_url %></td>
      <td><%= movie.is_showing ? "上映中" : "上映終了" %></td>    
        <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
      </tr>
    </tbody>
</table>
<% end %>