<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "turbo", type: "module" %> <!-- これ入れないとturboが動かない -->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
<%= render "shared/flash" %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
